type initgpios, domain;
type initgpios_exec, exec_type, file_type;

# The following 5 lines allow logwrapper to run this script from init
allow initgpios devpts:chr_file { read write open ioctl getattr };
allow initgpios shell_exec:file { execute execute_no_trans read open getattr };
allow initgpios sysfs:file { write setattr };
allow initgpios system_file:file { execute_no_trans };
allow initgpios self:capability { dac_read_search dac_override };

init_daemon_domain(initgpios)
