type pdi_copy_device_policies, domain;
type pdi_copy_device_policies_exec, exec_type, file_type;

allow pdi_copy_device_policies self:capability sys_module;
allow pdi_copy_device_policies self:capability { setuid setgid };
allow pdi_copy_device_policies self:capability sys_admin;
allow pdi_copy_device_policies shell_exec:file rx_file_perms;
init_daemon_domain(pdi_copy_device_policies)

permissive_or_unconfined(pdi_copy_device_policies)
