type copy_policy, domain;
type copy_policy_exec, exec_type, file_type;

allow copy_policy system_file:file execute_no_trans;
allow copy_policy self:capability { dac_override chown };

# The following 4 lines allow logwrapper to run this script from init
allow copy_policy shell_exec:file { read };
allow copy_policy devpts:chr_file { read write open ioctl getattr };
allow copy_policy system_data_file:dir { write add_name create setattr remove_name };
allow copy_policy system_data_file:file { create write open setattr };

init_daemon_domain(copy_policy)
