allow untrusted_app su_exec:file { read execute execute_no_trans open getattr };
allow untrusted_app device:sock_file write;
allow untrusted_app init_shell:fd use;
allow untrusted_app system_data_file:file write;
